/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300);

html {
    background-color: #fafafa;
    margin: 0;
}
#node-page-6{
    margin-left: 1%;
}

#region-sidebar-first{
    margin-left: 0;
    
}
 /*Navigation Mobile*/

.mean-bar <div>{
    background-color:#e6e6e6; 
}

.mean-container .mean-nav ul li a{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #000;
    background-color:#eeeeee;
    text-transform: lowercase;

}

.mean-container .mean-nav ul li:hover{
    background-color: #fff;
}

.mean-container .mean-bar {
    background-color: #f2f2f2;   
}

.mean-container a.meanmenu-reveal span{
    background-color: #000;}

.mean-container a.meanmenu-reveal{
    color: #000;}



/*Home */

#grid{
    margin: 0 auto;
    margin-left: 0;
}

#grid:after {
  content: '';
  display: block;
  clear: both;
}


.grid-sizer, .grid-item {
  width: 90%;
    float: left;
}


div.grid-item img{
    display: block;
    width: 60%;
    float: left;
    margin-bottom: 2%;
    margin-left: 2%;
}

.grid-sizer{
    width:60%;
    
}


/*Pageant */
.pageant_body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    text-align: justify; 
    -moz-text-align-last: left; /* Code for Firefox */
    text-align-last: left;
    font-size: 1.8vmin;
    display:block;} 

.pageant_body h3{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1.2em;
}

.pageant_body h2{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1.7em;
}

.pageant_body span{
    font-size: 1.7em;
}
.pageant_img{
    display: inline-block;
    padding: 0 1% 0 1%;
}
.pageant_img p{
    margin-bottom: 9%;
}


/* end*/

/*Sponsor*/
.square li{
	 margin: .5% ;
    
}

ul.square li{ 
    list-style:none;
    height:20vmin;
    width:20vmin;
    border: .1vmin ;
    float:left;
    position:relative;
    background-color:white;
}

ul.square img {
    margin: auto;
    display: block;
    width:70%;
    position:absolute;
    top: 0; bottom: 0; left: 0; right: 0; 
    box-sizing:border-box;
    -moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;

}

ul.square li:hover{
   -moz-box-shadow:    inset 0 0 10px #c6c6c6;
   -webkit-box-shadow: inset 0 0 10px #c6c6c6;
   box-shadow:         inset 0 0 10px #c6c6c6;
}

 /*form*/

#webform-client-form-13{
    display: inline-block;
    position: relative;
    margin: 0;
    text-decoration: none;    
}



/* end*/

.breadcrumb,
.field-name-field-featured,
.title,
.submitted,
.block-title,
.field-label{
    display: none;
}



