/* This file will hold styles for all layouts using the alpha grid (i.e. not the 
*/
@import url(https://fonts.googleapis.com/cssfamily=Lato:400,300,200);
@import url(https://fonts.googleapis.com/css?family=Permanent+Marker);
#region-content {
	margin-left:25%;
	width:75%;
	padding:10px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
#region-sidebar-first {
    width: 25%;
    height: 100%;
    position: fixed;
    background-color: #000000;
    z-index: 1;
    left: 0;
    top: 0;
}
@media (min-width:480px){
    #region-sidebar-first:{
        display: none;
    }
}

.section-footer{
    width: 25%;
    position: fixed;
    bottom: 0;
}

/* main menu*/

.menu{  
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  font-weight: 200;
  font-size: 2.3vw;
  text-align: right;

}

ul.menu{
  padding-top: 30%;
}

ul.menu a {
	text-decoration: none;
	color: black;
    max-width: 100%;
    display: inline-block;
    color: #ffffff;  

}

ul.menu li {
	list-style: none !important;
	text-align: right;    
}

/* selected link */

/* mouse over link */
ul.menu a:hover {
border-bottom:.5px solid #fff;
padding-left: 1%;
  z-index: 999;
  width: 100%;
}

/*main menu end*/


/*Sponsor*/


/* Enter -"Form"*/
#parent_form{
    position: relative
}
.rtecenter{
    text-align: left;    
}

.rtecenter a{
    font-family: 'Lato', sans-serif;
    font-weight: 200;
    color:#000;
    display: inline-block;
    text-decoration: none;
    font-size: 4vmin;       
}

.rtecenter a:hover{
    color: lightgrey;
}

.rtecenter_1{ 
    float:left;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 6vmin;
    align-items: center
}

div.rtcenter_2 {
border: 5px solid;
float: left;
width: 100%;
border-color: red;
}
.internal_form{
    font-family: 'Permanent Marker', cursive;
    font-weight: 400;
    color: #ed1e79;
}


/* Enter -" Form"*/

.form-item{
    font-family: 'Lato', sans-serif;
}
.form-item h2{
    font-family: 'Lato', sans-serif;
    font-weight: 300;}
    
.form-item p{text-align: justify; 
    -moz-text-align-last: left; /* Code     for Firefox */
    text-align-last: left;
}

#edit-submitted-first-name
{
    border: none;
    border-bottom: 1px solid;
    
}
/*Enter form*/

.form_item_1{
    display: inline-block;
    width: 30%;
    float: left;
    padding-right:15%;
    border: none;
    
    
}
.form_item_2 {
	display: inline-block;
	float: left;
    clear: right !important;
}

.form_item_3 {
    display: inline-block;
    float: left;
}

/*footer*/
.zone-footer{
    margin-right: 75%
}
.rteright p{
    bottom: 0;
    left: 0;
}
.logo_mw img{
    width: 3%;
    height: auto;
    padding-bottom: 2%;
    
}

/** Homepage **/
.view-featured-images {
	width:100%;
}
.view-featured-images ul {
	display:block;
	clear:both;
	width:100%;
}
.view-featured-images ul,
.view-featured-images ul li {
	margin:0;
	padding:0;
}
.view-featured-images ul li {
	width:220px;
	display:block;
	margin-bottom:10px;
}
.view-featured-images ul li img {
	width:100%;
	display:block;
}

