/* This file will hold styles for all layouts using the alpha grid (i.e. not the 
*/
@import url(https://fonts.googleapis.com/css?family=Montserrat|Permanent+Marker|Lato);


body.front #region-content {
    background-color:#000;
    width: 100%;
    margin-left: 10%;
}

#region-content {
	margin-left:25%;
	width:75%;
	padding:4% 0 0 1%;
    box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}


#region-sidebar-first {
    width: 25%;
    height: 100%;
    position: fixed;
    background-color: #fbcb00;
    z-index: 1;
    left: 0;
    top: 0;
}
@media screen and (min-width: 740px) {
}
@media screen and (min-width: 0px) and (max-width: 740px) {
#region-sidebar-first { display: none; 
    }
    /* hide it elsewhere */
    
    #region-content {
	width:100%;
	padding:3%;
        
        margin:0;
    display: block;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}

}

/* main menu*/

.menu{  
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    font-size: 2.5em;
    text-align: right;

}

ul.menu{
    padding-top: 100px;
}

ul.menu a:link {
    text-decoration: none;
	color: black;
    max-width: 100%;
    display: block;
    color: #000000;  
}

/* visited link */
ul.menu a:visited {
    color:#000;
}

/* selected link */
ul.menu a:active{
    color:#fff;
}

ul.menu li {
	list-style: none !important;
	text-align: right;    
}

ul.menu a:hover {
    border-bottom:.5px solid #000;
    padding-left: 1%;
    z-index: 99;
    width: 100%;
    height: auto;
}

.header_mn_1{
    padding-top: 4%;
    display: block;
    width: 100%;
    
}

.header_missnepal{
    padding-left: 80%;
    display: block;
}

hr{
    height: .6vmin;
    color: black;
    padding-left: 30%;
    margin-top: 3%;
    margin-left: 90%;
    width: 80%;
    display: block;
    background-color: #000;
}
/* mouse over link */

/*main menu end*/
div.home_mn{
    background-color: black;
    width: 1200px;
    height: 1200px;
    overflow: hidden;
    position: fixed;
    margin-left: 0;
   margin-right: 10%;
    
    
}

div.home_mn1 p{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    display: block;
    color:wheat;
    opacity: 75;
    padding: 7% 2% 7% 0%;
    width: 5% auto;
    border: 5px solid;
    border-left: none;
    margin-top: 30%;
    text-align: left;
    left: 0;
    font-size: 5em;
    
}
/*Sponsor*/


/* Enter -"Form"*/
#parent_form{
    position: relative
}
div.rtecenter a{
    background-color: #000000;
    border-radius: 3px;
    line-height: 1.2em;
    margin: .2em auto;
    padding: 1%;
    padding-left: 3%;
    padding-right: 3%;
    text-transform: uppercase;
    width: auto;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    color:#fff;
    display: inline-block;
    font-size: 4vmin;  
    text-decoration: none;
    float: left;
    clear: both;
    
}


.rtecenter_1{ 
    float:left;
    text-align: left;
    font-family: 'Montserrat', sans-serif;   
    font-weight: 400;
    font-size: 6vmin;
    align-items: center
}

div.rtcenter_2 {
border: 5px solid;
    float: left;
    width: 100%;
    border-color: red;
}
.internal_form{
    font-family: 'Montserrat', sans-serif;   
    font-weight: 400;
    color: #ed1e79;
}

div.form_item_1{
    margin: 0;
    display: block;
    float: left;
    padding-right: 1%;
    padding-top:3%;
}
div.form_item_2{
    display: inline-block;
    float: right;
    margin: 0;
    
}

div.form_item_3{
    clear: both;
    border-radius: 3px;
    display: block;
    display: block;
}

div.form_item_4{
    margin: 0;
    display: block;
    clear:left;

}

/* Enter -" Form"*/

.form-item{
    font-family: 'Lato', sans-serif;
}
.form-item h2{
    font-family: 'Lato', sans-serif;
    font-weight: 300;}
    
.form-item p{text-align: justify; 
    -moz-text-align-last: left; /* Code     for Firefox */
    text-align-last: left;
}


{       
}

input.form-text.required{
    border: 1px solid #ccc;
    box-sizing: border-box;
    color: #333;
    font-size: 1em;
    line-height: 1.8em;
    min-width: 300px;
    padding: 6px 12px;
    border-radius: 3px;
    height: 3%;

}

input[type="text"]:focus {
    outline:none !important;
}

input.webform-submit.button-primary.form-submit{
    background-color: #000000;
    border-radius: 3px;
    line-height: .9em;
    margin: 2.5em auto;
    padding: 1%;
    padding-left: 3%;
    padding-right: 3%;
    text-transform: uppercase;
    width: auto;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    color:#fff;
    display: inline-block;
    font-size: 1.6em;  
    text-decoration: none;
    line-height: 1.5em;
    margin-bottom: 0;
    margin-top: 40px;
    white-space: nowrap;
    background-image: none;
}
.webform-client-form{
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    
    
}
/*Enter form*/
.form-item label,
.form-actions label{
    display: block;
     font-family: 'Lato', sans-serif;  
    font-weight: 400;
    font-weight: bold;
}
}
.form_item_1{
    display: inline-block;
    width: 30%;
    float: left;
    padding-right:15%;
    border: none;
    
    
}
.form_item_2 {
	display: inline-block;
	float: left;
    clear: right !important;
}

.form_item_3 {
    display: inline-block;
    float: left;
}

/*footer*/




@media screen and (min-width: 740px) {
    
div.logo_mw{
    display: none;
}
    
.rteright {
    z-index: 4;
    position: fixed;
    margin-left:7%;
    bottom: 0;
    left: 0;
    color: #fff;
    display: inline-block;
     box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
    
}
    
div.logo_mww img{
    padding-left: 87%;
    margin-bottom:2%;
    display: block;
    max-width: 13%;
    }
}

@media screen and (min-width: 0px) and (max-width: 740px) {

div.logo_mww img{
    display: none;}

div.logo_mw img{
    display: none;
   /*  
    height: auto;
    padding-bottom: 2%;
    max-width: 15%;*/  
}
    .rteright {
        display: none;
           /*  
    z-index: 3;
    position: absolute;
    margin-left:7%;
    bottom: 0;
        min-height: 100%;
        height: auto !important;
        height: 100%;
        margin: 0 auto -4em;
    color: #000;
    display: inline-block;
     box-sizing:border-box;
	-moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    */
    }


}


/** Homepage **/
.view-featured-images {
	width:100%;
}
.view-featured-images ul {
	display:block;
	clear:both;
	width:100%;
}
.view-featured-images ul,
.view-featured-images ul li {
	margin:0;
	padding:0;
}
.view-featured-images ul li {
	width:220px;
	display:block;
	margin-bottom:10px;
}
.view-featured-images ul li img {
	width:100%;
	display:block;
}

